
<div class="main container" *ngIf="versao">
    <hr/>
    <h1>
        <strong>Rota:</strong> {{ versao.rota.nome }}
    </h1>
    <div class="row">
        <div class="col-sm-8">
            <ngb-tabset>
                <ng-container *ngFor="let sessao of versao.sessoes"> 
                    <ngb-tab *ngIf="!sessao.resultado">
                        <ng-template ngbTabTitle>{{sessao.descricao}}</ng-template>
                        <ng-template ngbTabContent>

                            <!-- Sessões filhas -->
                            <div *ngFor="let filha of sessao.sessoesFilhas" class="subsessao">
                                <h2>{{filha.descricao}}</h2>
                                <ng-container *ngFor="let a of filha.atributos">
                                    <div class="container">
                                        <div class="form-group row">
                                            <label for="atributo-{{a.atributo.id}}" class="col-sm-4 text-right">
                                                {{ a.atributo.nome }}
                                            </label>
                                            <div class="col-sm-4 text-center">
                                                <ng-container *ngIf="respostasDict.has(a.atributo.id) && !a.atributo.formula">
                                                    <!-- Lida com o tipo de input -->
                                                    <ng-container [ngSwitch]="a.atributo.tipo.codigo">
                                                        <ng-container *ngSwitchCase="1">
                                                            <input type="number" [(ngModel)]="respostasDict.get(a.atributo.id)[1]"
                                                                                 id="atributo-{{a.atributo.id}}"
                                                                                 #atributoInput="ngModel"
                                                                                 [ngClass]="(atributoInput.touched || simulado)
                                                                                             && atributoInput.invalid 
                                                                                             && a.obrigatorio ? 'error-required' : ''"
                                                                                 class="atributo"
                                                                                 [required]="a.obrigatorio" /><br/>
                                                        </ng-container>
                                                        <ng-container *ngSwitchCase="2">
                                                            <select class="atributo" 
                                                                 #atributoSelect="ngModel"
                                                                 [ngClass]="(atributoSelect.touched || simulado)
                                                                             && atributoSelect.invalid 
                                                                             && a.obrigatorio ? 'error-required' : ''"
                                                                 [(ngModel)]="respostasDict.get(a.atributo.id)[1]"
                                                                 [required]="a.obrigatorio" >
                                                                <option *ngFor="let item of a.atributo.items" [value]="item.descricao"> {{item.descricao}} </option>
                                                            </select>
                                                        </ng-container>
                                                    </ng-container>
                                                </ng-container>
                                            </div>
                                            <div class="col-sm-4 text-left">
                                                {{ a.atributo.unidadeMedida }} <br/>
                                            </div>
                                        </div>
                                    </div>
                                </ng-container>
                                <hr/>
                            </div>

                        </ng-template>
                    </ngb-tab>
                </ng-container>
            </ngb-tabset>
        </div>

        <!-- Sessões de resultado -->
        <div class="col-sm-4 resultados">
            <h1>Resultado</h1>
            <hr/>
            <div *ngFor="let sessao of versao.sessoes">
                <div *ngIf="sessao.resultado">
                    <h2>{{ sessao.descricao }}</h2>
                    <ng-container *ngFor="let a of sessao.atributos">
                        <ng-container *ngIf="a.atributo.formula">
                            {{a.atributo.nome}}: {{respostasDict.get(a.atributo.id)[1] + 0 | number:'1.'+a.atributo.precisao+'-'+a.atributo.precisao }}
                        </ng-container>
                    </ng-container>
                </div>
            </div>
        </div>
        <button class="btn btn-primary" (click)="calcularResposta()">Simular</button>
    </div>
</div>
