
<div class="main container" *ngIf="versao">
    <hr/>
    <h1>
        <strong>Rota:</strong> {{ versao.rota.nome }}
    </h1>

    <ng-template #validacaoModal let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title">Erro de validação do formulário</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>Preencha todos os campos obrigatórios corretamente!</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" (click)="c('Close click')">Fechar</button>
        </div>
    </ng-template>

    <div class="row">
        <form #simulacaoForm="ngForm" class="col-md-9">
            <ngb-tabset>
                <ng-container *ngFor="let sessao of versao.sessoes"> 
                    <ngb-tab *ngIf="!sessao.resultado">
                        <ng-template ngbTabTitle>{{sessao.descricao}}</ng-template>
                        <ng-template ngbTabContent>

                            <!-- Sessões filhas -->
                            <div *ngFor="let filha of sessao.sessoesFilhas" class="subsessao">
                                <h2>{{filha.descricao}}</h2>
                                <a class="hide-icon" (click)="sessoesVisiveis.set(filha.id, !sessoesVisiveis.get(filha.id))">
                                    <fa [hidden]="sessoesVisiveis.get(filha.id)" style="color: #B3CD41" name="plus-circle"></fa>
                                    <fa [hidden]="!sessoesVisiveis.get(filha.id)" style="color: #7E7E7D" name="minus-circle"></fa>
                                </a>
                                <div [hidden]="!sessoesVisiveis.get(filha.id)">
                                    <ng-container  *ngFor="let a of filha.atributos">
                                        <div class="container">
                                            <div class="form-group row">
                                                <label for="atributo-{{a.atributo.id}}" class="col-sm-4 text-right">
                                                    {{ a.atributo.nome }}
                                                </label>
                                                <div class="col-sm-4 text-center">
                                                    <ng-container *ngIf="respostasDict.has(a.atributo.id) && !a.atributo.formula && a.visivel">
                                                        <!-- Lida com o tipo de input -->
                                                        <ng-container [ngSwitch]="a.atributo.tipo.codigo">
                                                            <ng-container *ngSwitchCase="1">
                                                                <input type="number" [(ngModel)]="respostasDict.get(a.atributo.id)[1]"
                                                                       id="atributo-{{a.atributo.id}}"
                                                                       name="{{a.atributo.tag}}"
                                                                       #atributoInput="ngModel"
                                                                       [ngClass]="(atributoInput.touched || simulado)
                                                                       && atributoInput.invalid 
                                                                       && a.obrigatorio ? 'error-required' : ''"
                                                                       class="atributo"
                                                                       [required]="a.obrigatorio" /><br/>
                                                            </ng-container>
                                                            <ng-container *ngSwitchCase="2">
                                                                <select 
                                                                       [(ngModel)]="respostasDict.get(a.atributo.id)[1]"
                                                                       id="atributo-{{a.atributo.id}}"
                                                                       name="{{a.atributo.tag}}"
                                                                       #atributoSelect="ngModel"
                                                                       [ngClass]="(atributoSelect.touched || simulado)
                                                                       && atributoSelect.invalid 
                                                                       && a.obrigatorio ? 'error-required' : ''"
                                                                       class="atributo" 
                                                                       [required]="a.obrigatorio" >
                                                                       <option *ngFor="let item of a.atributo.items" [value]="item.descricao"> {{item.descricao}} </option>
                                                                </select>
                                                            </ng-container>
                                                        </ng-container>
                                                    </ng-container>
                                                </div>
                                                <div class="col-sm-4 text-left">
                                                    {{ a.atributo.unidadeMedida }} <br/>
                                                </div>
                                            </div>
                                        </div>
                                    </ng-container>
                                </div>
                                <hr/>
                            </div>

                        </ng-template>
                    </ngb-tab>
                </ng-container>
            </ngb-tabset>
        </form>

        <!-- Sessões de resultado -->
        <div class="col-md-3 resultados">
            <h1 style="display: inline">Resultado</h1>
            <button class="btn btn-primary btn-sm" (click)="calcularResposta(simulacaoForm)">Atualizar</button>
            <hr/>
            <div *ngFor="let sessao of versao.sessoes">
                <div *ngIf="sessao.resultado">
                    <h2>{{ sessao.descricao }}</h2>
                    <div class="container">
                        <div class="row">
                            <!-- Atributos importantes, destacados -->
                            <div class="col-md-6">
                                <ng-container *ngFor="let a of sessao.atributos">
                                    <ng-container *ngIf="a.atributo.formula && a.visivel && a.atributo.peso == 1">
                                        <div class="resposta-box">
                                            <div class="inner-resposta-box resposta-item">
                                                <span class="titulo">{{a.atributo.nome}}<br/></span>
                                                <span class="unidade">{{a.atributo.unidadeMedida}}<br/></span>
                                                <span class="valor">{{respostasDict.get(a.atributo.id)[1] + 0 | number:'1.'+a.atributo.precisao+'-'+a.atributo.precisao }} </span>
                                            </div>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                            <!-- Atributos pouco importantes -->
                            <div class="col-md-6 resposta-min">
                                <ng-container *ngFor="let a of sessao.atributos">
                                    <ng-container *ngIf="a.atributo.formula && a.visivel && a.atributo.peso == 1">
                                        <div class="resposta-item">
                                            <p><span class="text-dark text-right">{{a.atributo.nome}}</span>
                                            <span class="text-important text-right">{{respostasDict.get(a.atributo.id)[1] + 0 | 
                                                number:'1.'+a.atributo.precisao+'-'+a.atributo.precisao }} </span></p>
                                        </div>
                                    </ng-container>
                                </ng-container>
                            </div>
                        </div>
                        <div class="resposta-med">
                                <ng-container *ngFor="let a of sessao.atributos">
                                    <ng-container *ngIf="a.atributo.formula && a.visivel && a.atributo.peso == 1">
                                        <div class="row resposta-item">
                                                <span class="col-md-9 vertical-center"><span class="titulo"></span>{{a.atributo.nome}}</span>
                                            <span class="col-md-3 text-important value">{{respostasDict.get(a.atributo.id)[1] + 0 | 
                                                number:'1.'+a.atributo.precisao+'-'+a.atributo.precisao }} </span>
                                        </div>
                                        <hr/>
                                    </ng-container>
                                </ng-container>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
