<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <span class="navbar-brand">
                <a [routerLink]="['/rotas']" > 
                    <img src="assets/images/renovacalc-logo2.png" height="28"
                                                                   alt="RenovaCalc"/>
                    <img src="assets/images/renovabio-logo.png" height="28"
                                                                   alt="RenovaBio"/>
                </a>
            </span>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
