.container-fluid {
    padding-left: 15%;
    padding-right: 15%;
}

.container-fluid h1 {
    padding-bottom: 43px;
    font-size: 40px;
}

div {
    color: #4C9FD8;
}

.descricao {
    font-weight: 600;
    font-style: italic;
    padding-top: 30px;
}

.btn {
    margin-top: 3px;
    margin-top: 3px;
}

.btn:disabled {
    background-color: lightgray;
}

.btn-group-vertical {
    width: 70%;
}

.btn-outline-primary:active {
    margin: none;
    color: inherit;
    border-bottom: none;
    background-color: #FAFCF4;
}

.btn:hover {
    margin: none;
    color: inherit;
}

.btn:focus {
    outline: none;
    box-shadow: none;
}

.selectBox {
    width: 100%;
    overflow: hidden;
}

.dropdown-item:hover {
    background: lightblue;
}

.dropdown-item-group {
    width: 100%;
}

.dropdown-item {
    min-width: inherit;
}

.dropdown-toggle::after {
    float : right;
    margin-top: 0.5em;
}


.d-inline-block {
    min-width: 100%;
}

/* button { */
/*     /1* min-width: 50%; *1/ */
/*     text-align: left; */
/*     padding-left: 20px; */
/* } */

.padding-v1 {
    padding-top: 70px;
    padding-bottom: 60px;
}

.padding-v2 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.bg-image-light {
    background-image: url("/assets/images/background-light.png");
    background-repeat: no-repeat;
    background-position: right;
}

.b1 {
    background-color: #FAFCF4;
}

.b2 {
    background-color: #CADB84;
}

.bg-image-dark {
    min-height: 100px;
    background-image: url("/assets/images/background-dark.png");
}

